@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700&display=swap");

@import "tailwindcss";

body {
  font-family: "Hanken Grotesk", sans-serif;
}

#youtube-player iframe {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  width: 177.77vh !important;
  height: 100vh !important;
  transform: translate(-50%, -50%) !important;
  pointer-events: none !important;
}